---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Blog">
  <main>
    <h1>Blog</h1>
    <ul>
      <li>
        <a href="/blog/arduino-simulation-elp305/">
          Arduino Simulation ELP305
        </a>
      </li>
    </ul>
  </main>
</Layout>
