---
import Markdown from '../content/blog/arduino_simulation.md';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Arduino Embedded Systems Portfolio</title>
  </head>

  <body class="bg-black text-white p-10">
    <div class="prose prose-invert max-w-none">
      <Markdown />
    </div>
  </body>
</html>