---
import ArduinoSimulation from '../content/blog/arduino-simulation-elp305/index.md';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arduino Embedded Systems</title>
  </head>

  <body>
    <main>
      <ArduinoSimulation />
    </main>
  </body>
</html>