---
import '../styles/blog.css';
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter?.title ?? 'Blog Post'}</title>
  </head>

  <body>
    <main class="content">
      <h1>{frontmatter?.title}</h1>
      <slot />
    </main>
  </body>
</html>
